.aboutContainer p {
  margin-top: 10px;
  color: #555;
  padding: 0 10px;
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
  margin: 20px 0;
  gap: 10px;
}

.tech li {
  list-style: none;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: black;
  color: #f9f9f9;
  font-weight: bold;
}

.tech li:hover {
  background-color: gray;
}

.text2 {
  padding: 0 20px;
}

@media (min-width: 800px) {
  .aboutContainer p {
    margin-top: 10px;
    padding: 0 40px;
  }
  .tech {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tech li {
    font-size: 18px;
  }
  .text2 {
    padding: 0 40px;
  }
}

@media (min-width: 1220px) {
  .tech {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tech li {
    font-size: 18px;
  }
}
